body {
  background: rgb(2, 0, 36);
  background: radial-gradient(cilcle, rgba(2,0,36,1) 0%);
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.container > form {
  width: 50%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

button {
  background: #0563b4 !important;
}

p {
  color: red;
}

pre {
  width: 70%;
  color: #fff;
  font-size: large;
}